<li class="list-group-item">
   <%if message.user == current_user%>
     <p><b>あなた</b>: <%= "#{message.content}" %></p>
   <%else%>
    <p><b><%= "#{message.user.name}さん"%></b>: <%= "#{message.content}" %></p>
   <%end%>
</li>