<div class="container">
  <div class="liked-page">
     <i class="fas fa-user fa-1x liked-users-title"> いいねしたユーザー</i>
    <%if @post.likes.count == 0%>
     <div class="nothing-liked">
       <p>いいねしたユーザーはまだいません</p>
     </div>
    <%end%>
    <% @post.liked_users.each do |user|%>
    <div class="media liked-users">
        <div class="d-flex mr-3">
            <%if user.image? %>
                <%=image_tag user.image.thumb.url, class: "message-img-top"%>
            <%else%>
                <%=image_tag 'default.jpg', class: "message-img-top"%>
            <%end%>
        </div>
        <h3><%= link_to user.name, user_path(user) %></h3>
    </div>
    <%end%>
  </div>
</div>

