<div class="container">
   <div class="talk-title"> 
      <i class="fas  fa-comment-dots">トーク</i>
   </div>
 <div class="talk">
  <div id="messages", data-room_id= "<%= @room.id %>">
    <%=render @messages%>
  </div>
  </div>
    <div class="form">
      <form  class="form-inline">
        <div class="form-group">
          <input type="text"  class="form-control"  id="chat-input">
        </div>
        <button id="button" class="btn btn-primary">送信</button>
      </form>
    </div>
</div>