@import "bootstrap";

.top {
  color: white;
  padding: 30px;
}
 .stats1 {
   padding-left: 20px;
   padding-top: 20px;
}

.login {
  padding-left: 400px;
  padding-top:  50px;
}
.btn-posts{
  padding-bottom: 10px;
  
}

.chat-btn{
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.like-btn {
  width: 25px;
 height: 30px;
 font-size: 25px;
 color: #808080; 
 margin-left: 20px;
}

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
}

.dance-background {
  background: image-url('dance-background.jpg');
  height: 1000px;
  background-size: cover;
}

.dance-background2 {
  background: image-url('dance-background2.jpg');
  height: 2000px;
  background-size: cover;
}

